body{
    overflow-x: hidden;
}

.navbar-area .navbar-collapse .navbar-nav li.menu-item-has-children > a::after {
	content: unset;
}

.slick-dots {
	display: flex !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: unset;
}

.hero-area{
    background:#eee;
    background-size: cover;
}

.grey-ticor{
    color:#486A7C;
}

p{
    color:#486A7C;
}

.services-area {
	padding: unset !important;
}

.service-item {
	 border: unset !important; 
}

.container-fluid{
    padding-left: unset;
    padding-right: unset;
}

.what-we-provide-item{
    width: 202px !important;
}

.title-hero{
    color: #486A7C;
}

.white{
    color:#486A7C;
}

.testimonial-card{
    width: 98%;
    margin-left: 10px;

}

.theme-btn{
    background:#C25679 !important;
    text-decoration: unset;
    color:#fff;
}

.theme-btn:hover{
    background:#bb466b !important;
    color:#fff;
}

.navbar-top-style{
    background-color: #F8EC52;
}

.bg-contact{
    background: #F8EC52;
    color:#bb466b;
}

.sub-title{
    color:#bb466b !important;
}

.title-contact-us{
    color:#000 !important;
}



.items-pricing {
	height: 270px;
}

.icon-navbar{
    height: 18px;
    margin-right: 10px;
}

.icon-social{
    width: 28px;
}

.nav-right-part {
	gap: 10px;
}

.page-banner {
	margin: 0 !important;
}

.text-center{
    text-align: center;
}

.items-brand {
	display: flex;
	align-items: center;
}

.input-contact {
	display: flex;
	gap: 20px;
}

.service-item img {
	width: 86px;
}

.service-item:hover img {
	filter: brightness(300%);
}