body{
    overflow-x: hidden;
}

.navbar-area .navbar-collapse .navbar-nav li.menu-item-has-children > a::after {
	content: unset;
}

.slick-dots {
	display: flex !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: unset;
}

.hero-area{
    background:url('https://images.unsplash.com/photo-1503694978374-8a2fa686963a?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.container-fluid{
    padding-left: unset;
    padding-right: unset;
}

.what-we-provide-item{
    width: 202px !important;
}

.title-hero{
    color: #fff;
}

.white{
    color:#fff;
}

.testimonial-card{
    width: 98%;
    margin-left: 10px;

}
